body{
    text-align: center;
    background-image: url(pexels-victor-freitas-791763.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}
h2{
    color:aliceblue;
}
.cal{
    /* text-align: center; */
    width: 500px;
    position: absolute;
    top: 10%;
    left: 35%;
    padding-top: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 20px #919191;

}
p{
    /* padding-top: 1%; */
    color: aliceblue;
}
.result-btn{
    padding-top: 10px;
}
.weight{
    padding-top: 30px;
}
#info{
    color: rgb(154, 155, 156);
    padding-top: 4%;
}


@media(max-width:1000px){
    .cal{
        left: 25%;
    }
}
@media (max-width:700px) {
    .cal{
        width: 300px;
        left: 7%;
    }
}
